html {
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
}

body {
    background: #f7fff7;
    max-width: 640px;
    min-height: 200px;
    font-family: 'Montserrat';
    font-size: 23px;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
}

.weather {
}

.mood button {
    min-width: 150px;
    margin-top: 10px;
    background: beige;
    border-radius: 4px;
    border: 0.5px;
    padding: 12px;
    font-size: 20px;
}
