html {
    box-sizing: border-box;
    transition: all 1s linear;
}

h2 {
    font-size: 40px;
}

body {
    background: #ffffff;
    min-height: 400px;
    max-width: 640px;
    min-height: 200px;
    font-family: 'Montserrat';
    font-size: 23px;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    font-weight: bold;
}

.mood button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    border-radius: 50px;
    height: 5rem;
    padding: 12px;
    font-size: 20px;
    background-color: Transparent;
}

.feedCard {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin: 1rem auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
}

.green {
    height: 100vh;
    background: linear-gradient(0deg, #a1dcbc 0%, #199eaf 100%);
    background-repeat: repeat;
}

.blue {
    height: 100vh;
    background: linear-gradient(
        347.96deg,
        #eadcfe 0%,
        #feebfc 25.41%,
        rgba(162, 210, 254, 0.77) 51.93%,
        #e1d8fc 75.14%,
        #cfa5dc 100%
    );
}

.red {
    height: 100vh;
    background: linear-gradient(0deg, #fdd1a9 0%, #ffd6ea 100%);
}

.splash {
    background-color: #000000;
    margin-top: 15rem;
}

.invisible {
    display: none;
}

#feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
}

#theMeat {
    height: 90vh;
}

.greenSmall {
    height: 10rem;
    width: 70%;
    background: linear-gradient(0deg, #a1dcbc 0%, #199eaf 100%);
    background-repeat: repeat;
}

.blueSmall {
    height: 10rem;
    width: 70%;
    background: linear-gradient(
        347.96deg,
        #eadcfe 0%,
        #feebfc 25.41%,
        rgba(162, 210, 254, 0.77) 51.93%,
        #e1d8fc 75.14%,
        #cfa5dc 100%
    );
}

.redSmall {
    height: 10rem;
    width: 70%;
    background: linear-gradient(0deg, #fdd1a9 0%, #ffd6ea 100%);
}

.feedPerson,
.feedEmotion,
.feedDate {
    font-weight: 1000;
    margin: 0;
}

.feedDate {
    font-size: 0.7rem;
}

.weatherFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8rem;
    margin-left: 1rem;
}

#time {
    margin-left: 2rem;
}

.mood {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.buttonBlob {
    height: 100%;
    width: 17%;
    border-radius: 70%;
}

#greenButton {
    border: 1px solid green;
}

#redButton {
    border: 1px solid red;
}

#blueButton {
    border: 1px solid blue;
}

#feedButton {
    width: 80%;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.weather {
    margin-bottom: 2rem;
}

#noData {
    width: 80%;
    margin: 0 auto;
}

.feedHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedTitle {
    margin-left: 1rem;
}

.feedBack {
    font-size: 1rem;
}
